 <div class="container">
    
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
      <div class="col-xs-12 col-md-8">

          <div class="form-group">

              <input type="text" class="form-control" id="questions" ng-model="question" placeholder="Ask your question">
              <button type="submit" class="btn btn-primary" ng-click="postQuestion()">Submit</button>
          </div>

          <hr>

           <div class="alert alert-success" ng-if="incommingPost.length > 0">
                   <a ng-click="setNewPost()" >There are {{difference}} new posts</a>
          </div>
          <div ng-repeat='user in users'>
             <div class="row">
                <div class="col-md-3">
                  <p ><strong class="lead">{{user.username}}</strong> {{user.date | date : 'MM/dd/yy hh:m'}}</p>
                 </div>
                <div class="col-md-7">
                 <a class="lead" ng-click="getQuestion(user._id)">{{user.questions}}</p>

                 </div>


              </div>
              <hr>
          </div>


      </div>

        <div class="col-xs-6 col-md-4">

        Right side information goes here

    </div>


      </div>

     
        
</div>

 